@import '../../variable.scss';

.kripsonui-theme-changer{
    width: $s8;
    height: $s4;
    border: calc($s1/4) solid $primaryTextColor;
    border-radius: $s2;
    padding: calc($s1/2);
    display: grid;
    position: relative;
    transition: all 0.25s;

    &:has(.kripsonui-change-ball.dark){
        background-color: $themeChangerDarkBackgroundColor;
    }

    &:has(.kripsonui-change-ball.light){
        background-color: $themeChangerLightBackgroundColor;
    }

    .kripsonui-change-ball{
        width: $s4;
        height: $s4;
        border-radius: $s2;
        transition: all 0.25s;
        position: absolute;
        right: calc($s1/2);
        top: 10%;

        &.dark{
            justify-self: right;
            background-color: $themeChangerMoonColor;
            right: calc($s1/2);

            &::before{
                position: absolute;
                top: 0;
                left: 0;
                width: 75%;
                height: 75%;
                border-radius: 100%;

                background-color: $themeChangerDarkBackgroundColor;
                content: '';
            }
        }

        &.light{
            right: calc($s9/2);
            justify-self: left;
            background-color: $themeChangerSunColor;
        }
    }

}