//spacing 
$s1: 8px;
$s2: calc($s1 * 2);
$s3: calc($s1 * 3);
$s4: calc($s1 * 4);
$s5: calc($s1 * 5);
$s6: calc($s1 * 6);
$s7: calc($s1 * 7);
$s8: calc($s1 * 8);
$s9: calc($s1 * 9);
$s10: calc($s1 * 10);


//colors
$errorColor: #DC3535;
$bankCardBackground: #940ceee0;
$bankCardTextColor: #f0f0f0;
$primaryTextColor: #ebebeb;
$themeChangerSunColor: #eee12e;
$themeChangerMoonColor: #f0f0f0;
$themeChangerLightBackgroundColor: #52daf1;
$themeChangerDarkBackgroundColor: #252525;

